body, html, #root, .home {
  min-height: 120vh;
  width: 100%;
  margin-bottom: 11%;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #D8D1CB;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 8%);
  top: 20px;
  left: 40px;
  z-index: 1000;
}

.navbar::after {
  content: '';
  display: block;
  width: calc(100% - 40px);
  height: 1px;
  background-color: black;
  position: absolute;
  margin-top: 85px;
  left: 20px;
  z-index: 999; 
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-image {
  width: 35px;
  height: auto;
  margin-bottom: 2px;
}

.navbar-logo span {
  color: black;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar-links a:hover {
  color: black;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: black;
}

.navbar-links.open {
  display: block;
}

.carousel {
  margin-top: 145px;
}

.carousel-container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.segunda-cama {
  width: 100%;
  max-width: 41%;
  transform: scaleX(3);
  margin-left: 365px;
}

.tercera-cama {
  width: 100%;
  max-width: 46%;
  transform: scaleX(3);
  margin-left: 335px;
}

.content {
  text-align: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
}

.content p {
  color: black;
  font-size: 45px;
  text-decoration: underline;
  margin-left: 13%;
  font-weight: bold;
  margin-bottom: 30px;
}

.content h5 {
  font-size: 20px;
  text-align: justify;
  margin-top: 30px;
  padding: 0 10px;
  margin-right: 40%;
}

.login-button1 {
  background-color: white;
  color: black;
  margin-left: 15%;
  border: 0px solid black;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.224);
  border-radius: 20px;
  padding: 3px 80px;
  font-size: 24px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.login-button1:hover {
  background-color: rgb(202, 202, 202);
}

.container {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}

.cel-imagen { 
  display: flex;
  justify-content: flex-end;
  gap: 18px;
  margin-left: auto;
}

.celu1, .celu2, .celu3 {
  width: 50%;
  max-width: 200px;
}

@media (max-width: 1150px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: calc(100% - 40px);
    left: 20px;
  }

  .navbar::after {
    content: '';
    display: block;
    width: calc(100% - 40px);
    height: 1px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    margin-top: 85px;
    left: 20px;
    z-index: 999; 
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: white;
    position: center;
    top: 60px;
    left: 0;
    padding: 10px 0;
    text-align: center;
  }

  .navbar-links.open {
    display: flex;
  }

  body, html, #root, .home {
    min-height: 120vh;
    width: 100%;
    margin-bottom: 35%;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #D8D1CB;
  }

  .hamburger {
    display: block;
  }

  .carousel {
    margin-top: 100px;
  }

  .carousel-container {
    width: 90%;
  }

  .content p {
    font-size: 30px;
    margin-right: 13%;
    align-items: center;
    display: flex;
  }

  .content h5 {
    font-size: 16px;
    margin-right: 0;
  }

  .login-button1 {
    padding: 8px 16px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .content {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cel-imagen {
    justify-content: center;
    display: flex;
    max-width: 800px;
    margin-top: 0px;
    margin-left: 0;
    width: 100%;
  }

  .celu1, .celu2, .celu3 {
    width: 45%;
    max-width: 80px;
    min-width: 28%;
    margin: 10px;
  }

  .navbar-logo span{
    margin-left: 7%;
  }
}

